<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.lolren.waydroidcameraprobe">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:label="Waydroid Camera Probe"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".CameraProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
